* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #03a9f4;
}
.name {
  margin: 1rem;
  color: #03a9f4;
}
.name:hover {
  text-underline-offset: 0.5rem;
  text-decoration-line: underline;
  color: #9c27b0;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.picker {
  margin: 0.5rem 1rem;
  outline: none;
  border: 2px solid #03a9f4;
  border-radius: 0.25rem;
  font-size: 1.5rem;
  padding: 0.25rem 0.5rem;
  caret-color: #03a9f4;
  color: #03a9f4;
}
.picker:hover {
  cursor: pointer;
  color: #9c27b0;
  border-color: #9c27b0;
  caret-color: #9c27b0;
}
.btn {
  cursor: pointer;
  background: none;
  outline: none;
  border: 2px solid #03a9f4;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
  margin: 0.5rem;
  font-size: 1.5rem;
  color: #03a9f4;
}
.btn:hover {
  border-color: #9c27b0;
  color: #9c27b0;
}
.colorContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 160px;
}
.error {
  border-color: red;
}
.singleColor {
  font-style: oblique;
  display: flex;
  flex-direction: column;
  padding:1.5rem 0 0 1.5rem;
  cursor:pointer;
}
.copy{
  align-self: center;
  margin-top:1rem;
}
.white{
  color:white;
}
.black{
  color:black;
}
@media (max-width: 1250px) and (min-width: 1000px) {
  .colorContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 1000px) and (min-width: 800px) {
  .colorContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .colorContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 600px) and (min-width: 400px) {
  .colorContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 400px) and (min-width: 200px) {
  .colorContainer {
    grid-template-columns: repeat(1, 1fr);
  }
  .name {
    font-size: 1rem;
  }
  .picker {
    width: 100%;
  }
}
@media (max-width: 200px) and (min-width: 150px) {
  .colorContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 140px;
  }
  .name {
    font-size: 0.9rem;
  }
  .picker {
    font-size: 0.9rem;
    width: 100%;
  }
  .btn {
    font-size: 0.9rem;
    width: 50%;
  }
}
@media (max-width: 150px) and (min-width: 0px) {
  .colorContainer {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 100px;
  }
  .name {
    font-size: 0.75rem;
  }
  .picker {
    padding: 0.1rem;
    font-size: 0.75rem;
    width: 100%;
    margin: 0.5rem 0;
  }
  .btn {
    font-size: 0.75rem;
    width: 100%;
    margin: 0.5rem 0;
  }
}
